<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<style>
    body{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #212121;
        color: #fff;
    }
</style>
<body>

    <h1>URL Shortner! </h1>

    <% if (locals.id) { %>
        <h3> Url Generated : http://localhost:8001/url/<%= id %></h3>
    <%} %>
    <div>
        <form action="/url" method="post">
            <label for="">Enter Your Url : </label>
            <input type="text" placeholder="http://eg.com" name="url">
            <br>
            <button type="submit">Generate</button>
        </form>
    </div>
    
</body>
</html>